- title I18n.t('title.login')

%h3
  %strong= I18n.t('authentication.new')

%p.text-muted= I18n.t('authentication.notice')

= render :partial => 'shared/providers', locals: { providers: Authentication::PROVIDERS }
