- title I18n.t('title.login')

%p
  %strong= I18n.t('authentication.new')

%small.attention= I18n.t('authentication.notice')

= render :partial => 'shared/providers', locals: { providers: Authentication::PROVIDERS }

