<p><%= link_to I18n.t('attendances.registrations_page'), event_attendances_url(event, attendance) %></p>
<br/>
<p><b><%= I18n.t('attendances.you_can_reply') %></p></b>
<p><%= I18n.t('attendances.say_goodbye') %></p>
<p><%= I18n.t('attendances.event_team', event_name: event.name) %></p>