%ul 
  %li Data: 26, 27 e 28/06/2013
  %li Hora: 9h às 19h
  %li Local: Royal Tulip Brasília Alvorada - SHTN, Trecho 01 Conj 1b - Bloco C,  Lago Norte, Brasília - DF

%p
  Observações:
  %ol
    %li Seu crachá deverá ser retirado no balcão de credenciamento, no local do evento, a partir do dia 26/06/2013.
    %li Os certificados serão encaminhados por e-mail. Caso não receba no prazo máximo de 10 dias após o evento, favor entrar em contato pelo e-mail #{mail_to APP_CONFIG[:organizer][:contact_email]}.
    %li Haverá serviço de manobristas no local para as pessoas que optarem por ir de carro.
    %li Não será servido almoço durante o evento. Sugerimos que se desloquem para restaurantes da Vila Planalto, bairro que fica próximo ao hotel.