

Date: June 26th, 27th and 28th, 2013

Time: 9 am to 7 pm

Location: Royal Tulip Brasília Alvorada - SHTN, Trecho 01 Conj 1b - Bloco C,  Lago Norte, Brasília - DF



Notes:

1. Your badge should be obtained at the registration desk, at the conference location, as early as June 26th.

2. The conference's attendance certification will be delivered by e-mail. If you do not receive it 10 days after the event, please contact us through #{APP_CONFIG[:organizer][:contact_email]}.
  
3. There will be a valet service at the conference for those who will drive.

4. The conference will not provide lunch. We suggest that you dine at restaurants in Vila Planalto, a neighborhood next to the conference hotel.

