%ul
  %li Date: June, 24th and 25th 2013
  %li Time: 9 am to 6 pm
  %li Location: 1st Floor LBV's ParlaMundi - SGAS 915 Sul Lotes 75/76 - Brasília/DF

%p To align expectations among attendees, the CST, #{link_to 'Heitor Roriz Filho', 'http://www.scrumalliance.org/profiles/5461-heitor-roriz-filho'}, would like the attendees to read the #{link_to 'Agile Atlas', 'http://www.agileatlas.org/'}, a guide about Scrum that Heitor helped write. The Agile Atlas is also available #{link_to 'in pdf', 'http://www.agilebrazil.com/2013/wp-content/uploads/2013/06/CoreScrum.pdf'}.

%p He also recommends reading #{link to 'parts of the presentation', 'http://www.agilebrazil.com/2013/wp-content/uploads/2013/06/CSPO-Teaser-PTBR.pdf'} that will be used during the course.

%p The course approval rate is above 95% in previous Agile Brazil as well as other national and international classes!

%p For sure, this year's Agile Brazil will have an even higher approval! Similarly to the CSM course that is focused on the ScrumMaster and facilitation techniques, the CSPO course is focused on the PO and techniques to prioritize and maintain a product backlog.
