%ul
  %li Date: June, 24th and 25th 2013
  %li Time: 9 am to 6 pm
  %li Location: Centro Empresarial Parque Cidade Corporate SCS, Quadra 9, Bloco A, Torre B, 6o Andar, Laboratório 1 (next to shopping center Pátio Brasil) - Brasília/DF

