Data: 24 e 25/06/2013

Hora: 9h às 18h

Local: 1o Andar ParlaMundi da LBV - SGAS 915 Sul Lotes 75/76 - Brasília/DF


De forma a alinharmos as expectativas de possíveis participantes, o CST, Heitor Roriz Filho (http://www.scrumalliance.org/profiles/5461-heitor-roriz-filho), gostaria que os participantes leiam o Agile Atlas (http://www.agileatlas.org/), uma referência sobre Scrum que o Heitor ajudou a escrever. O Agile Atlas também está disponível em pdf (http://www.agilebrazil.com/2013/wp-content/uploads/2013/06/CoreScrum.pdf).


Ele também recomenda a leitura de partes da apresentação (http://www.agilebrazil.com/2013/wp-content/uploads/2013/06/CSPO-Teaser-PTBR.pdf) que usará durante o curso.


O grau de aprovação do curso está acima de 95% tanto na Agile Brazil dos anos anteriores quanto em turmas aberta no Brasil e no exterior! 


Com certeza, na Agile Brazil desse ano teremos um grau ainda maior de aprovação! Assim como o curso CSM é focado no ScrumMaster e técnicas de facilitação, o curso CSPO é bem focado no PO e em técnicas de priorização e manutenção do product backlog.

