Dear #{h(@attendance.full_name)},



We noticed that you have a pending payment for #{@attendance.event.name}. If that payment is not realized until June 14th we, unfortunately, will have to cancel your registration (ID #{@attendance.id}) due to the expiration of the payment deadline.



If you already settled your registration payment, please contact us with your paypal or bcash payment confirmation so we can manually confirm your registration.



We hope to meet you in Brasília between June 26th and 28th or in one of the courses from the Agile Marathon.



Sincerely,
Agile Brazil's organizing committee.



If you have any questions, please contact us at #{APP_CONFIG[:organizer][:contact_email]}



[Please do not reply to this e-mail. It was sent from an unmonitored email address]
