Car#{@attendance.male? ? 'o' : 'a'} #{h(@attendance.full_name)},



Existe uma pendência no pagamento da sua inscrição na #{@attendance.event.name}. Caso não seja regularizada até o próximo dia 10/06, sua inscrição será automaticamente cancelada.



Caso a pendência já tenha sido regularizada, favor nos enviar o comprovante do paypal ou do bcash.



Esperamos encontrá-lo em Brasília entre os dias 26 e 28 de Junho.



Sinceramente,

Comitê de organização do Agile Brazil.



Qualquer dúvida, entre em contato através do email #{mail_to AppConfig[:organizer][:contact_email]}



[Por favor não responda este e-mail. Ele foi enviado através de um endereço não monitorado]