Dear #{h(@attendance.full_name)},


Your registration was confirmed successfully.



Date: June 26th, 27th and 28th, 2013

Time: 9h às 19h

Location: Royal Tulip Brasília Alvorada - SHTN, Trecho 01 Conj 1b - Bloco C,  Lago Norte, Brasília - DF



Observações:

1. Your badge should be obtained at the registration desk, at the conference location, as early as June 26th.

2. The conference's attendance certification will be delivered by e-mail. If you do not receive it 10 days after the event, please contact us through #{AppConfig[:organizer][:contact_email]}.
  
3. There will be a valet service at the conference for those who will drive.

4. The conference will not provide lunch. We suggest that you dine at restaurants in Vila Planalto, a neighborhood next to the conference hotel.



If you have any questions, please contact us at #{AppConfig[:organizer][:contact_email]}



[Please do not reply to this e-mail. It was sent from an unmonitored email address]
