Oi #{h(@attendance.full_name)},

Trazemos ótimas notícias! Nossa fila andou e chegou a sua vez!

Para completar o processo de inscrição, por favor siga as instruções descritas na seguinte página:


= attendance_url(@attendance, locale: 'pt')


Você pode acessar essa página a qualquer momento para realizar o pagamento ou verificar o status da sua inscrição. Guarde esse e-mail e link para referência futura.


NÚMERO DE INSCRIÇÃO: #{@attendance.id}



Qualquer dúvida, entre em contato através do email #{@attendance.event.main_email_contact}



[Por favor não responda este e-mail. Ele foi enviado através de um endereço não monitorado]