Dear #{h(@attendance.full_name)},


Your registration was confirmed successfully.


= render "email_notifications/event_#{@attendance.event.id}_details"


If you have any questions, please contact us at #{AppConfig[:organizer][:contact_email]}



[Please do not reply to this e-mail. It was sent from an unmonitored email address]
