%p Dear #{h(@attendance.full_name)},

%p Your request for registration as part of group <strong>#{h(@group.name)}</strong> at #{@attendance.event_name} was received successfully.

%p Instructions to complete the registration process will be sent to your group organizer as soon the request for registration for all participants are received.

%p "If you have any questions, please contact us at #{@attendance.event.main_email_contact}"

%small '[Please do not reply to this e-mail. It was sent from an unmonitored email address]'