Dear #{h(@attendance.full_name)},

We bring great news! Your registration was accepted and you was removed from the queue.


In order to complete the registration process, please follow the instructions on the page:


= event_attendance_url(@attendance.event, @attendance, locale: 'en')


You can access this page at any time to make the payment and check the status of your registration, so keep this e-mail and link for future reference.


Registration Number: #{@attendance.id}


If you have any questions, please contact us at #{@attendance.event.main_email_contact}


[Please do not reply to this e-mail. It was sent from an unmonitored email address]
