Oi #{h(@attendance.full_name)},

Amanhã é o grande dia. Mais um passo em direção de uma Floripa mais ágil. =)

É indispensável que você se lembre de:

* Trazer um documento válido com foto para o credenciamento.
* Se você se cadastrou como estudante, não esqueça o comprovante. Se você esquecer, precisará pagar a diferença da entrada total.
* O credenciamento e o coffee de boas vindas começarão às 9:00.
* Consulte #{@attendance.event.link} para informações detalhadas de como chegar.

Qualquer dúvida, entre em contato através do email #{@attendance.event.main_email_contact}

Por favor não responda este e-mail. Ele foi enviado através de um endereço não monitorado
