Oi #{h(@attendance.full_name)},

%p Amanhã será mais um dia ágil =)

%p É indispensável que você se lembre de:

%ul
  %li Trazer um documento válido com foto para o credenciamento.
  %li Se você se cadastrou como estudante, não esqueça o comprovante. Se você esquecer, precisará pagar a diferença da entrada total.
  %li O credenciamento e o coffee de boas vindas começarão às #{@attendance.event.start_date.to_date.strftime('%H:%M')}.
  %li Consulte #{@attendance.event.link} para informações detalhadas de como chegar.

%p Qualquer dúvida, entre em contato através do email #{@attendance.event.main_email_contact}.

%small Por favor não responda este e-mail. Ele foi enviado através de um endereço não monitorado
