Hi #{h(@attendance.full_name)},

Tomorrow is an agile day. =)

You should remember to:


* Bring a valid document
* If you are registered as student, you’ll be invited to comprove it showing your student id. You'll be asked to pay the full price if you don't have it.
* The welcome coffee and the registration will be in place at #{@attendance.event.start_date.to_date.strftime('%H:%M')}
* Check #{@attendance.event.link} for address and how to get there details.

If you have any questions, please contact us at #{mail_to @attendance.event.main_email_contact}

See you there

Please do not reply to this e-mail. It was sent from an unmonitored email address
