-----BEGIN CERTIFICATE-----
MIIC8DCCAlmgAwIBAgIJAPZ+HFcq5BFSMA0GCSqGSIb3DQEBBQUAMIGQMQswCQYD
VQQGEwJCUjESMBAGA1UECAwJU2FvLVBhdWxvMRIwEAYDVQQHDAlTYW8gUGF1bG8x
GjAYBgNVBAoMEUFnaWxlIEJyYXppbCBMdGRhMRUwEwYDVQQDDAxBZ2lsZSBCcmF6
aWwxJjAkBgkqhkiG9w0BCQEWF2NvbnRhdG9AYWdpbGVicmF6aWwuY29tMB4XDTEy
MTIyNjAzMjY0MFoXDTEzMTIyNjAzMjY0MFowgZAxCzAJBgNVBAYTAkJSMRIwEAYD
VQQIDAlTYW8tUGF1bG8xEjAQBgNVBAcMCVNhbyBQYXVsbzEaMBgGA1UECgwRQWdp
bGUgQnJhemlsIEx0ZGExFTATBgNVBAMMDEFnaWxlIEJyYXppbDEmMCQGCSqGSIb3
DQEJARYXY29udGF0b0BhZ2lsZWJyYXppbC5jb20wgZ8wDQYJKoZIhvcNAQEBBQAD
gY0AMIGJAoGBAL+h8sZZ2MPcvk3duEMMe14ATo4dpiKPwenVdV/Ef1cQEmxUcr/h
4npy7ey8sRtGqMC4gmWChQroZQwy15FipCjyUEGoz8MVChbHMNIwHxJjKXx6Ct39
g8kca8ZMOSERPM9f8O2x4Sbs2Ioa6nTjSW7/sAfI+RIEB9DhIsE5VSXpAgMBAAGj
UDBOMB0GA1UdDgQWBBQs88i4rrjiWtAjzpxGMceSDWUWyDAfBgNVHSMEGDAWgBQs
88i4rrjiWtAjzpxGMceSDWUWyDAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBBQUA
A4GBAIVCb2ZfjE2anZZOsopUzrOcytWEH1NF4dK/RY5Hv90uFC6YqhmScsQNri3n
clfJRJdD8gnT6eAY0FG4ImOSTrRT4TrGlXW3D2F9cbF5A6K+iUq+sJ6rtdLgrvX6
5YOdI39hlVL/3Grik3oXqq2iFMrsLbCPQfbdVE2yjVl7RA0h
-----END CERTIFICATE-----
