<% if resource.errors.any? %>
  <div id="error_explanation" class="">
    <%= render('layouts/error', message: resource.errors.full_messages.join(' | ')) if resource.errors.full_messages.present? %>
  </div>
<% end %>
