<div class="breadcrumb">
  <div class="row">
    <div class="col-xl-12">
      <%= link_to t('events.index.title'), events_path %>
      >

      <%= link_to @event.name, event_path(@event) %>
      >

      <%= t('registration_groups.new.title') %>
    </div>
  </div>
</div>

<%= render 'form' %>
