<div class="breadcrumb">
  <div class="row">
    <div class="col-xl-12">
      <%= link_to t('events.index.title'), events_path %>
      >
      <%= link_to t('users.show.title'), user_path(@user) %>
      >
      <%= t('users.edit.title') %>
    </div>
  </div>
</div>

<div class="form-container">
  <div class="row justify-content-center">
    <div class="col-xl-12">
      <%= render 'users/form', event: @event %>
    </div>
  </div>
</div>
