<div class="breadcrumb">
  <div class="row">
    <div class="col-xl-12">
      <%= link_to I18n.t('events.index.title'), events_path %>
      >
      <%= link_to I18n.t('users.show.title'), user_path(@user) %>
      >
      <%= I18n.t('users.edit.title') %>
    </div>
  </div>
</div>

<div>
  <div class="row">
    <div class="col-xl-12">
      <%= render 'users/form', event: @event %>
    </div>
  </div>
</div>
