<p><%= link_to I18n.t('attendances.registrations_page'), event_attendance_url(event, attendance) %></p>
<br/>
<p><%= I18n.t('attendances.say_goodbye') %></p>
<p><%= I18n.t('attendances.event_team', event_name: event.name) %></p>
