<div class="row">
  <div class="col-xl-12">
    <ul class="nav nav-tabs">

      <li class="nav-item <%= 'active' if details_tab %>">
        <%= link_to t('general.details.title'), '#', class: 'nav-link' %>
      </li>
    </ul>
  </div>
</div>
