%h3= link_to event.name, event

%p
  Clique #{link_to "aqui", new_event_attendance_path(event)} para se inscrever para #{event.name}.

%p
  Clique #{ link_to "aqui", attendances_list_event_attendances_path(event) } para listar inscritos.

