- if current_user.present? && !current_user.try(:organizer?) && current_user.try(:registrations_for_event, event).present?
  %span= link_to t('events.show.user_registration'), event_attendance_path(@event, @last_attendance_for_user), class: 'btn-sm btn-primary'

- if current_user.try(:organizer?) || (!event.full? && current_user.try(:registrations_for_event, event).blank?)
  = link_to t('events.show.new_registration'), new_event_attendance_path(event), class: 'btn-sm btn-primary'
- elsif !event.full?
  = link_to t('events.show.register_other'), new_event_attendance_path(event), class: 'btn-sm btn-primary'
- else
  %p= t('events.show.registrations_ended')
