- eligible_events = @events.select{|event| event.registration_periods.for(Time.now).present?}
- if eligible_events.empty?
  = t('event.no_upcoming')
- else
  = render :partial => 'event', :collection => eligible_events
