%div{class: 'row'}
  %div{class: 'col-xs-12 col-sm-8 col-sm-offset-2'}
    %h3= t('title.events')
    = link_to t('events.new.title'), new_event_path, class: 'btn btn-sm btn-primary'

%div.events
  - if @events.empty?
    = render 'no_events'
  - else
    = render 'events', events: @events
