
%div{class: 'row'}
  %div{class: 'col-xs-8 col-md-offset-2'}
    %div= link_to 'ALL EVENTS', list_archived_events_path
    %h2= t('events.new.title')

= render 'form', event: @event

= javascript_include_tag 'events/new'
