# encoding: UTF-8
---
google_tracker_id: ''
google_conversion_id: ''
google_conversion_label: ''
secret_key_base: ''
twitter_key: ''
twitter_secret: ''
facebook_key: ''
facebook_secret: ''
github_key: ''
github_secret: ''
pag_seguro_url: ''
pag_seguro_email: ''
pag_seguro_token: ''
pag_seguro_env: ''
pag_seguro_store_code: ''
agile_alliance_api_host: ''
agile_alliance_api_token: ''
sendgrid_api_key: ''
rollbar_access_token: ''
cloudinary_api_key: ''
cloudinary_api_token: ''
cloudinary_cloud_name: ''
