# encoding: UTF-8
---
  ses:
    access_key_id: your_aws_access_key_id
    secret_access_key: your_aws_secret_access_key
    from: no-reply@domain.com
    server: email.eu-east-1.amazonaws.com
  host: localhost:3000
  organizer:
    name: Organizer
    email: organizer@domain.com
    cced: Organizer Helper
    cced_email: helper@domain.com
    contact: Registration Help
    contact_email: help@domain.com
  airbrake:
    access_key: xxx111xxx
  google:
    tracker_id: 365434-1
    conversion_id: 736473
    conversion_label: fo37tf9fIGF3GD
  paypal:
    email: seller@domain.com
    currency: USD
    secret: xxx22xxx
    cert_id: ABCxxx
    url: https://www.sandbox.paypal.com/cgi-bin/webscr
  secret_token: 5d2a01a0054e1ce4a87ff5a297b84063396e231ba994de27d69834766cf50423b9dd4eca113c88b6decd3b845ae7616f1e0f1256a2cfed8c15d0483f9880cdb3
  secret_key_base: 917cc0a9e91b58e1e6f8e9e6ff443f16b19832b1ad628b1e33f0149fd71c819e98f1307bc1caf342d1d4356f8048406f9361689b36a707fdefb820b27a9b5e22
  twitter:
    key: https://dev.twitter.com/apps/new
    secret: https://dev.twitter.com/apps/new
  facebook:
    key: https://developers.facebook.com/apps
    secret: https://developers.facebook.com/apps
  github:
    key: http://developer.github.com/
    secret: http://developer.github.com/
  submission_system:
    url: http://localhost:3000/
    key: http://localhost/
    secret: http://localhost/
  bcash:
    url: https://www.bcash.com.br/checkout/pay/
    email: seller@domain.com
    key: bcash_key
    store_code: bcash_store_code
  pag_seguro:
    url: https://ws.pagseguro.uol.com.br/v2/checkout
    email: alexandra.martins@agilealliance.org
    token: 4C7157623D554340996998DECB83BDD8
    store_code: pagseguro_store_code
  agile_alliance:
      api_token: xpto