common: &common
  adapter: mysql2
  pool: 5
  username: registrations_db
  password: registrations_db

development:
  <<: *common
  database: agilebrazil_development

test:
  <<: *common
  database: agilebrazil_test

staging:
  <<: *common
  database: agilebrazil_development

production:
  <<: *common
  database: agilebrazil_development
