.form-background {
  background-color: #E0ECF4;
  margin-bottom: 20px;
  padding: 20px;
}

.auto_focus { display: none; }

.text-label { text-transform: uppercase; }

.button-spacing { margin-top: 20px; }

.form-field { margin-bottom: 10px; }

.label-checkbox { margin-left: 5px; }

.input_action { margin-left: 15px; }

.payment-type, .token { padding: 10px 30px 20px 0; }

.search-button { margin-top: 10px; }

.centered { text-align: center; }

.register-button { margin: 10px 0 0 0; }

.form-actions { text-align: center}

.hand-pointer {
  cursor: pointer;
  color: #336699;
}

.table-title {
  font-weight: bold;
  margin: 0 0 10px 0;
}

.line { margin: 0 0 10px 0; }

select { @extend .form-control; }

form fieldset.inputs ol {
  padding: 0;

  >li {
    @extend .form-group;
    @extend .col-lg-6;
    padding: 10px 30px 0 0;
  }

  .label {
    display: block;
    padding: 0;
    font-size: 1em;
    font-weight: bold;
    line-height: 1em;
    color: $font-color-dark;
    text-align: left;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: none;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  text-transform: uppercase;
  font-size: smaller;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.attendance-chart {
  width: 1500px;
  height: 768px;
  margin: 40px auto;
}

.small-attendance-chart {
  height: 330px;
}

.top10 { margin-top: 10px; }
.top20 { margin-top: 20px; }
.top-minus-50 { margin-top: -50px; }

.error-field {
  color: #C73822;
  font-size: small;
}

.botton-spaced-component {
  margin-bottom: 8px;
}

label.required:after{content: " *"}
