
.auto_focus {
  display: none;
}

input:not([type='submit']) {
  @extend .form-control;
}

select {
  @extend .form-control;
}

.input_action {
  margin-left: 15px;
}

form fieldset.inputs ol {
  padding: 0;

  >li {
    @extend .form-group;
    @extend .col-lg-6;
    padding: 10px 30px 0 0;
    &.country, &#attendance_organization_input {
      clear: both;
      width: auto;
      float: none;
    }
  }

  .label {
    display: block;
    padding: 0;
    font-size: 1em;
    font-weight: bold;
    line-height: 1em;
    color: $font-color-dark;
    text-align: left;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: none;
  }
}

.payment-type, .token {
  padding: 10px 30px 20px 0;
}

.search-button {
  margin-top: 10px;
}

.centered {
  text-align: center;
}

table th {
  text-align: center;
}

.register-button {
  margin: 10px 0 0 0;
}
