
.auto_focus {
  display: none;
}

input:not([type='submit'][type='checkbox']) {
  @extend .form-control;
}


select {
  @extend .form-control;
}

.label {
  display: block;
  padding: 0;
  font-size: 1em;
  font-weight: bold;
  line-height: 1em;
  color: $font-color-dark;
  text-align: left;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: none;
}

form fieldset.inputs ol {
  padding: 0;

  >li {
    @extend .form-group;
    @extend .col-lg-6;
    padding: 10px 30px 0 0;
    &.country, &#attendance_organization_input {
      clear: both;
      width: auto;
      float: none;
    }
  }
}

.payment-type, .token {
  padding: 10px 30px 20px 0;
}
