/*
 *=require formtastic
 *=require formtastic_changes
 *=require jquery.autocomplete
 */
//@import 'mixins/grid';
//@import 'mixins/helper';
//@import 'mixins/reset';
@import 'mixins/text';
@import "bootstrap-sprockets";
@import "bootstrap";
@import "aa";

$primary-color: #218CCB;
$font-color-light: #FFFFFF;
$font-color-dark: #333333;

$color1: $primary-color;
$color2: #5ad295;
$color3: #b0dff5;
$color4: #ffffe0;
$color5: #336699;

html {
  background-color: #FFFFFF;
  color: $font-color-dark;
}

a {
  color: $color5; }

a:hover {
  color: $color5 + #333333; }

.auto_focus {
  display: none; }

input:not([type='submit']) {
  @extend .form-control;
}


select {
  @extend .form-control;
}

.label {
  display: block;
  padding: 0;
  font-size: 1em;
  font-weight: bold;
  line-height: 1em;
  color: $font-color-dark;
  text-align: left;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: none;
}

form fieldset.inputs ol {
  padding: 0;

  >li {
    @extend .form-group;
    @extend .col-lg-6;
    padding: 10px 30px 0 0;
    &.country, &#attendance_organization_input {
      clear: both;
      width: auto;
      float: none;
    }
  }
}

.actions ol {
  margin: 20px 0;
  padding: 0;
}

.inline-hints {
  color: #999;
  font-size: 0.8em;
  margin-top: 5px;
}


.badge-container {
  @extend .row;
  margin: 30px 0;
  .badge-item {
    @extend .col-lg-4;
    padding-top: 15px;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
    div {
      background-color: #f2f2f2;
      padding-right: 20px;
      padding-left: 20px;
      &.first {
        font-size: 1.2em;
        padding-top: 10px;
        color: #666;
      }
      &.last {
        color: #333;
        font-size: 2em;
        font-weight: bold;
        padding-bottom: 10px;
      }

    }
  }
}

.attendances-actions {
  margin: 40px 0;
  .button_to {
    display: inline;
  }
}

.attendance-table {
  margin: 40px 0;
  tr.last {
    font-size: 1.2em;
  }
}

.alert-notice {
  @extend .alert-success;
}

.alert-error {
  @extend .alert-danger;
}

p.inline-errors {
  @extend .text-danger;
}

.payments {
  margin: 30px 0;
  .payment_type {
    input {
      width: auto;
      height: auto;
    }
  }
}

.events {
  .event {
    padding: 10px 0 20px 0;
    border-bottom: 1px solid #ccc;
    &:last-child {
      border: none;
    }
    .btn:first-child {
      padding-left: 0;
    }
  }
}


.auth_providers {
  margin-top: 30px;
  .thumbnail {
    text-align: center;
  }
}

#header {
  color: $font-color-light;
  position: relative;
  background-color: $primary-color;
  img {
    float: left;
    padding-right: 5px; }
  > h1 {
    padding: 30px;}
  .logo {
    h1 {
      display: none; }
    strong {
      color: #999999; } }
  ul#user {
    padding-left: 0;
    li {
      display: inline-block;
      list-style: none;
    }
    a {
      color: $font-color-light;
      text-decoration: none;
      &:hover {
        color: $font-color-light - #222222;
        text-decoration: underline;
      }
    }
  }

  ul#menu {
    padding: 0;
    margin: 10px 0 0 0;
    li {
      display: inline-block;
      list-style: none;
      background-color: #FFFFFF;
      &.selected {
        background-color: $color1 + #222222;
        a {
          color: $color4; } } }
    a {
      color: $primary-color;
      padding: 10px;
      line-height: 26px;
      text-decoration: none;
      display: inline-block; }
    a:hover {
      color: $primary-color + #222222;
      text-decoration: underline; } } }

#content {
  min-height: 500px;
}

#footer {
  color: #333333;
  background-color: #c0c0c0;
  text-align: center;
  font-size: 1em;
  min-height: 200px;
  padding: 30px 0;
  margin-top: 50px;
}
