/*
 *=require formtastic
 *=require formtastic_changes
 *=require jquery.autocomplete
 */

@import 'mixins/text';
@import "bootstrap-sprockets";
@import "bootstrap";

@import "colors";
@import "form";

@import "aa";
@import "header";
@import "footer";

.clear {
  clear: both;
}

html {
  background-color: #FFFFFF;
  color: $font-color-dark;
}

a {
  color: $color5;
  &:hover {
    color: $color5 + #333333;
  }
}

.actions ol {
  margin: 20px 0;
  padding: 0;
}

.inline-hints {
  color: #999;
  font-size: 0.8em;
  margin-top: 5px;
}


.badge-container {
  @extend .row;
  margin: 30px 0;
  .badge-item {
    @extend .col-lg-4;
    padding-top: 15px;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
    div {
      background-color: #fff;
      padding-right: 20px;
      padding-left: 20px;

      &.first {
        font-size: 1.2em;
        padding-top: 10px;
        color: #999;
      }
      &.last {
        color: #333;
        font-size: 2em;
        font-weight: bold;
        padding-bottom: 10px;
      }

    }
  }
}

.attendances {
  .badge {
    float: right;
    a {
      color: #fff;
    }

  }
}

.attendances-actions {
  margin: 40px 0;
  .button_to {
    display: inline;
  }
}

.attendance-table {
  margin: 40px 0;
  tr.last {
    font-size: 1.2em;
  }
}

.alert-notice {
  @extend .alert-success;
}

.alert-error {
  @extend .alert-danger;
}

p.inline-errors {
  @extend .text-danger;
}

.payments {
  margin: 30px 0;
  .payment_type {
    input {
      width: auto;
      height: auto;
    }
  }
}

.events {
  .event {
    padding: 10px 0 20px 0;
    border-bottom: 1px solid #ccc;
    &:last-child {
      border: none;
    }
    .btn:first-child {
      padding-left: 0;
    }
  }
  .btn span {
    padding-right: 5px;
  }
}


.auth_providers {
  margin-top: 30px;
  .thumbnail {
    text-align: center;
  }
}

.user-auth .auth_providers {
  float: left;
  .thumbnail {
    padding: 10px;
  }
}


.profile {
  .list-group {
    margin: 20px 0;
    @extend .row;
  }
  .list-group-item {
    @extend .col-lg-6;
    border: none;
    padding: 15px;
  }
}

.attendances {
  .list-group {
    margin: 20px 0;
    @extend .row;
  }
  .list-group-item {
    @extend .col-lg-6;
  }
  .badge {
    background-color: $brand-danger;
    &:hover {
      background-color: $brand-danger - #333;
    }
  }
}



#content {
  min-height: 700px;
  background-color: #f2f2f2;
  padding: 30px 0 50px 0;
}

.form-field {
  margin-right: -20px;
  width: 100%;
}

.agreed-message {
  font-weight: bold;
  margin-top: 30px;
}