/*
 *=require formtastic
 *=require formtastic_changes
 *=require jquery.autocomplete
 */
//@import 'mixins/grid';
//@import 'mixins/helper';
//@import 'mixins/reset';
@import 'mixins/text';
@import "bootstrap-sprockets";
@import "bootstrap";

@import "colors";
@import "form";

@import "aa";
@import "header";
@import "footer";


html {
  background-color: #FFFFFF;
  color: $font-color-dark;
}

a {
  color: $color5;
  &:hover {
    color: $color5 + #333333;
  }
}

.actions ol {
  margin: 20px 0;
  padding: 0;
}

.inline-hints {
  color: #999;
  font-size: 0.8em;
  margin-top: 5px;
}


.badge-container {
  @extend .row;
  margin: 30px 0;
  .badge-item {
    @extend .col-lg-4;
    padding-top: 15px;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
    div {
      background-color: #f2f2f2;
      padding-right: 20px;
      padding-left: 20px;
      &.first {
        font-size: 1.2em;
        padding-top: 10px;
        color: #666;
      }
      &.last {
        color: #333;
        font-size: 2em;
        font-weight: bold;
        padding-bottom: 10px;
      }

    }
  }
}

.attendances-actions {
  margin: 40px 0;
  .button_to {
    display: inline;
  }
}

.attendance-table {
  margin: 40px 0;
  tr.last {
    font-size: 1.2em;
  }
}

.alert-notice {
  @extend .alert-success;
}

.alert-error {
  @extend .alert-danger;
}

p.inline-errors {
  @extend .text-danger;
}

.payments {
  margin: 30px 0;
  .payment_type {
    input {
      width: auto;
      height: auto;
    }
  }
}

.events {
  .event {
    padding: 10px 0 20px 0;
    border-bottom: 1px solid #ccc;
    &:last-child {
      border: none;
    }
    .btn:first-child {
      padding-left: 0;
    }
  }
}


.auth_providers {
  margin-top: 30px;
  .thumbnail {
    text-align: center;
  }
}

#content {
  min-height: 700px;
  background-color: #f2f2f2;
  padding-bottom: 50px;
}
