/*
 *=require formtastic
 *=require formtastic_changes
 *=require jquery.autocomplete
 */
@import 'mixins/grid';
@import 'mixins/helper';
@import 'mixins/reset';
@import 'mixins/text';

$color1: #009933;
$color2: #5ad295;
$color3: #b0dff5;
$color4: #ffffe0;
$color5: #336699;

html {
  background: white url(image-path("bg.png")) repeat-x center top;
  color: #333333; }

a {
  color: $color5; }

a:hover {
  color: $color5 + #333333; }

.auto_focus {
  display: none; }

#header {
  @include grid(12);
  height: 90px;
  color: $color1;
  position: relative;
  img {
    float: left;
    padding-right: 5px; }
  > h1 {
    float: left;
    padding: 5px; }
  .logo {
    float: left;
    h1 {
      display: none; }
    strong {
      color: #999999; } }
  ul#languages {
    float: right;
    overflow: hidden;
    li {
      float: left;
      list-style: none; }
    li:before {
      content: "\00a0|\00a0"; }
    li:first-child:before {
      content: ""; }
    a {
      color: $color1;
      text-decoration: none; }
    a:hover {
      color: $color1 - #222222;
      text-decoration: underline; } }
  ul#menu {
    overflow: hidden;
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 6px;
    li {
      float: left;
      list-style: none;
      background-color: $color1;
      margin: 2px;
      border: 2px solid $color3;
      &.selected {
        background-color: $color1 + #222222;
        a {
          color: $color4; } } }
    a {
      color: white;
      padding: 10px;
      line-height: 25px;
      text-decoration: none; }
    a:hover {
      color: $color4;
      text-decoration: underline; } } }

#footer {
  @include grid(12);
  color: #999999;
  text-align: center;
  font-size: 8pt;
  margin-bottom: 20px; }

#container {
  @include grid-system(12); }


#flash_notice, #flash_error, #flash_news, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0; }

#flash_notice {
  background-color: #ccffcc;
  border: solid 1px #66cc66; }

#flash_error, #flash_alert {
  background-color: #ffcccc;
  border: solid 1px #cc6666; }

#flash_news {
  background-color: #fff6bf;
  border: solid 1px #ffd324; }

.fieldWithErrors {
  display: inline; }

.resizable-textarea {
  textarea {
    margin-bottom: 0pt;
    width: 95%;
    height: 20%; }
  .grippie {
    background: #eeeeee url(image-path("grippie.png")) no-repeat scroll center 2px;
    border-color: #dddddd;
    border-style: solid;
    border-width: 0pt 1px 1px;
    cursor: s-resize;
    height: 9px;
    overflow: hidden; } }

#date {
  overflow: hidden;
  display: block;
  right: 0;
  bottom: 0;
  color: white;
  background-color: $color5;
  border: 2px solid $color3;
  text-align: center;
  font-size: 14px;
  margin-bottom: 6px;
  p {
    margin: 2px;
    padding: 4px; } }

#warning {
  overflow: hidden;
  display: block;
  right: 0;
  bottom: 0;
  background-color: $color4;
  border: 2px solid $color3;
  font-size: 12px;
  margin-bottom: 6px;
  p {
    margin: 2px;
    padding: 4px; } }

#registered_attendees_form, #registered_groups_form {
  .left {
    float: left;
  }
  .middle {
    display: inline;
  }
  .right {
    float: right;
  }
}

.placeholder {
  color: #999;
}

ul.spaced {
  overflow: hidden;
  li {
    float: left;
    margin-right: 20px;
    margin-top: 5px;
    list-style: none;
    font-size: 12px; }
  li.first {
    font-weight: bold; } }

.payments {
  margin: 20px 0px 20px;
  overflow: hidden;
  .payment_type {
    &.left {
      /*@include grid(4);*/
      margin: 0px;
      float: left;
    }
    &.right {
      /*@include grid(8);*/
      margin: 0px;
      float: right;
      border-left: 1px solid #cccccc;
      padding-left: 10px;
    }
    h4 {
      font-size: 14px;
    }

    pre {
      padding: 10px 0px 10px 10px;
    }
  }
}

ul.event {
  li {
    div.status {
      display: inline;
    }
  }
}

#content>div {
  margin: 10px 0;
}

.attention {
  font-size: 10px;
  color: #996666;
}

.auth_providers {
  height: 90px;
  .auth_provider {
    float: left;
    text-decoration: none;
    margin-right: 20px;
    text-align: center;
    margin-bottom: 10px;
  
    img {
      display: block;
    }
  }
}

.profile {
  ul {
    li {
      list-style: none;
    }
  }
}

.authentications {
  padding-bottom: 48px;

  .authentication {
    float: left;
    background-color: #EEE;
    border: solid 1px #999;
    padding: 5px 10px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    position: relative;
    margin-right: 10px;

    .remove {
      text-decoration: none;
      position: absolute;
      top: 3px;
      right: 3px;
      color: #333;
      padding: 2px 4px;
      font-size: 10px;
    }

    .remove:hover {
      color: #FFF;
      background-color: #777;
      -moz-border-radius: 7px;
      -webkit-border-radius: 7px;
    }

    img {
      float: left;
    }

    .provider, .uid {
      margin-left: 38px;
      margin-right: 20px;
    }

    .provider {
      font-weight: bold;
    }

    .uid {
      color: #666;
      font-size: 11px;
    }
  }
}

.summary {
  width: 100%;
  th,td {
    padding: 5px;
    border: 1px solid black;
  }
}

#new_transfer {
  padding: 0 200px;
  text-align: center;
  padding-top: 150px;

  .badge {
    width: 200px;
    height: 300px;
    margin-top: -150px;
    background-color:white;
    border-radius: 15px;
    padding: 20px;
    border: 2px solid black;
    &.left {
      float: left;
      margin-left: -200px;
    }
    &.right {
      float: right;
      margin-right: -200px;
    }

    label.label {
      display: block;
      font-weight: bold;
      font-size: 1.5em;
    }
  }

  .arrow_box {
    ol {
      margin: 0px 50px 0px 20px;
      border: solid green;
      border-width: 5px 0 5px 5px;
      background-color: darkgreen;
      position: relative;
      height: 30px;

      input {
        background-color: rgba(255, 255, 255, 0);
        border: 0px;

        color: white;
        font-weight: bold;
        font-size: 1.3em;

        width: 100%;
        height: 30px;

        cursor: pointer;
        &:disabled {
          color: darkgreen;
          cursor: default;
        }
      }

      &:after {
          background: darkgreen;

          border: solid green;
          border-width: 5px 5px 0 0;

          -moz-transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg);

          content: '';
          display: block;
          position: absolute;

          top: 1px;
          right: -14px;

          width: 23px;
          height: 23px;
      }
    }
  }
}

.actions {
  text-align: center;
  padding: 20px 0px;
  form,div {
    display: inline;
  }
  input,a {
    padding: 5px 20px;
    font-family: 'Lucida Grande';
    border: 0px;
    font-size: 16px;
    font-weight: bold;
    margin: 0px 40px;
    border-radius: 10px;
    width: 200px;
    color: white;
    background-color: darkgreen;
    text-decoration: none;

    &.remove {
      background-color: firebrick;
    }
  }
}