<html>
  <body>
    <div style="padding-left: 100px;padding-right: 100px;padding-top: 30px;">
      <%= render 'devise/mailer/greetings', receiver_name: @resource.full_name %>

      <p><%= I18n.t('devise.mailer.password_change.notification') %></p>

      <%= render 'devise/mailer/email_signature' %>
    </div>
  </body>
</html>
