%div{class: 'row'}
  %div{class: 'col-xs-8 col-md-offset-2'}
    - if @event.full? || @event.attendances_in_the_queue?
      %h4= t('attendances.new.title.no_vacancy', event_name: @event.name)
    - else
      %h2= t('attendances.new.title.vacancy', event_name: @event.name)

.auto_focus

= render 'form'
