- flash.now[:notice] ||= "Sua inscrição está confirmada!"

- if can? :transfer, Attendance
  %div.actions
    = link_to 'Transferir inscrição', new_transfer_path(transfer: {origin_id: attendance.id})
