<p><%= t('attendances.grouped_attendance.title', group_name: @attendance.group_name) %></p>

<% if @attendance.registration_value.positive? %>
  <p><%= t('attendances.grouped_attendance.paid_group_title') %></p>
<% else %>
  <p><%= t('attendances.grouped_attendance.free_group_title') %></p>
<% end %>
