- flash.now[:notice] ||= 'Sua inscrição está paga.'

%h3 Instruções:

%p Recebemos o pagamento da sua inscrição. Caso não tenha recebido o email de confirmação, cheque sua caixa de spam e entre em contato com a organização no email abaixo.

- if can? :transfer, Attendance
  %div.actions
    = link_to 'Transferir inscrição', new_transfer_path(transfer: { origin_id: attendance.id }), :class => 'btn btn-success'
