%h3 Instructions to complete the registration process

= render partial: 'shared/payment_request', locals: { attendance: @attendance }

%hr/

%h3 Important

%p The registration amount will be updated according to the table available at #{link_to price_table_link(attendance.event, :en), price_table_link(attendance.event, :en)}.
