- title t('title.registration')
.auto_focus

= semantic_form_for(parent? ? [parent, @attendance] : @attendance) do |form|
  = render 'form', :form => form
  = form.actions do
    = form.action(:submit, :label => :new_registration, :button_html => {:tabindex => autotab})
