- title t('title.attendance')

= render partial: 'shared/badge', locals: {attendance: @attendance}

= render partial: 'shared/registration_details', locals: {attendance: @attendance}

= render partial: @attendance.status, locals: {attendance: @attendance}