%div{id: 'container', style: 'width:100%; height:400px;', 'data-report': @attendances_state_grouped.to_json }

%table.table
  %th= t('attendances.reports.by_state.state')
  %th= t('attendances.reports.general.total')

  - @attendances_state_grouped.each do |key, value|
    %tr
      %td= key
      %td= value
