<nav class='headerAa-menu'>
  <ul class="headerAa-menu-list">
    <li class="headerAa-menu-list-item">
      <%= link_to 'Agile Alliance', 'http://agilealliance.org/pt/' %>
    </li>

    <li class="headerAa-menu-list-item">
      <%= link_to t('aa.members'), 'http://agilealliance.org/pt/membresia' %>
    </li>

    <li class="headerAa-menu-list-item logo">
      <%= link_to 'http://agilealliance.org/pt' do %>
        <%= image_tag 'logoAgileAlliance.png' %>
      <% end %>
    </li>
  </ul>
</nav>