%nav.headerAa-menu
  %ul.headerAa-menu-list
    %li.headerAa-menu-list-item= link_to "Agile Alliance", "http://agilealliance.org/pt/"
    %li.headerAa-menu-list-item= link_to t("aa.members"), "http://agilealliance.org/pt/membresia"
    %li{ :class => "headerAa-menu-list-item logo" }
      =link_to "http://agilealliance.org/pt" do
        =image_tag "logoAgileAlliance.png"
    %li.headerAa-menu-list-item.locale= link_to "Português", "?locale=pt"
    %li.headerAa-menu-list-item.locale= link_to "English", "?locale=en"
