<div class="row">
  <div class="col-xl-12">
    <nav class='headerAa-menu'>
      <ul class="headerAa-menu-list aa-header-list">
        <li class="headerAa-menu-list-item">
          <%= link_to 'Agile Alliance', 'http://agilealliance.org/pt/' %>
        </li>

        <li class="headerAa-menu-list-item">
          <%= link_to t('header.aa.members'), 'https://www.agilealliance.org/membership' %>
        </li>

        <li class="headerAa-menu-list-item logo float-right">
          <%= link_to 'http://agilealliance.org/pt' do %>
            <%= image_tag 'https://res.cloudinary.com/agile-alliance-brazil/image/upload/v1623598978/logo-agile-alliance_keyusy.png' %>
          <% end %>
        </li>
      </ul>
    </nav>
  </div>
</div>
